<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <nav class="shadow-lg px-3 py-2.5">
        <div class="container flex flex-wrap justify-between mx-auto">
            <a class="flex items-center" href="">
                <img src="https://cdn1.iconfinder.com/data/icons/general-user-interface-5/64/messages-chats-multiple-interface-512.png" alt="logo" class="h-16 mr-3">
                <span class="self-center font-semibold text-4xl"> Chat App </span>
            </a>
            <div> 
                <ul class="flex flex-row p-4 mt-4 border rounded-lg border-gray-100 bg-blue-50">
                    <li>
                        <a href="{% url 'users:login' %}" class="block py-2 pl-3 pr-4 rounded">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'users:register' %}" class="block py-2 pl-3 pr-4 rounded">Register</a>
                    </li>
                </ul>
            </div>
            <div class="flex items-center">
                <ul class="flex flex-row p-4 mt-4 border rounded-lg border-gray-100 bg-blue-50">
                    <li>
                        <a href="{% url 'index' %}" class="block py-2 pl-3 pr-4 rounded bg-blue-800 text-white"> Rooms </a>
                    </li>
                    <li>
                        <a href= "{% url 'users:about' %}" class="block py-2 pl-3 pr-4 rounded"> About </a>
                    </li>
                </ul>
                
            </div>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>
